body{
    padding: 0px;
    margin: 0px;

    background-color: #00C4FF;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Saira', sans-serif;
    background-image: url("./asset/bg.jpg");
    background-size:cover; 

}

.container{
    /* border: 1px solid; */
    padding: 2rem 3rem;
    /* border: 5px solid #999999; */
    border-radius: 25px;
    /* background-color: #FFFFFF; */
    width: 30%;
    /* height: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
}

.buttonContainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 90%;
}

#password{
    width: 90%;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    /* background-color: #F2F2F2; */
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: .5rem;
    text-align: center;
    color: #fff;
    
    /* background: transparent; */
    background-color: rgba(255, 255, 255, 0.15);
    /* border: 1px solid #fff; */
}

.button-style{
    padding: 1rem;
    border-radius: 30px;
    font-size: large;
    border: none;
    color:#fff;
    font-family: 'Saira', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
    cursor: pointer;
    width: 45%;
    /* box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); */

    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
}

.button-style:active {
    transform: translateY(4px);
}



h3{
    /* color: #579BB1; */
    color: #fff;
    font-size: 1.8rem;
}

#hint{
    /* color: #1AB696; */
    color: #fff;
    text-align: center;
}

.profile{
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    /* border: 1px solid #579BB1; */
}

@media all and (max-width: 480px) { 
    .container{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        background-color: #E1D7C6;
        padding: 0rem 1rem;
    }

    .button-style{
        border-radius: 5px;
    }

    #password{
        border-radius: 5px;
        width: 100%;
    }

    .buttonContainer{
        flex-direction: column;
        width: 100%;
    }

    .button-style{
        width:auto
    }

    .primary{
        background-color: #28ACEC;
    }
    
    .success{
        background-color: #1AB696;
    }

    h3{
        color: #579BB1;
    }
    
    #hint{
        color: #1AB696;
    }

    #password{
        background-color: #579BB1;
    }
 }