body{
    padding: 0px;
    margin: 0px;

    background-color: #00C4FF;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Saira', sans-serif;
}

.container{
    border: 1px solid;
    padding: 2rem 3rem;
    border: 5px solid #999999;;
    border-radius: 25px;
    background-color: #FFFFFF;
    /* width: 25%;
    height: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#password{
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #F2F2F2;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    /* letter-spacing: .5rem; */
    text-align: center;
}

.button-style{
    padding: 1rem;
    border-radius: 30px;
    font-size: large;
    border: none;
    color:#fff;
    font-family: 'Saira', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.button-style:active {
    transform: translateY(4px);
}

.primary{
    background-color: #28ACEC;
}

.success{
    background-color: #1AB696;
}

h3{
    color: #999999;
    /* font-size: 1.8rem; */
}

#hint{
    color: #1AB696;
    text-align: center;
}

@media only screen and (max-width: 480px) { 
    .container{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
 }