body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #c6ffdd);
    font-family: 'Prompt', sans-serif;
}

.circleframe{
    width: 8rem;
    height: 8rem;
    border: 8px solid #F2F2F2;
    border-radius:50%;
    margin-top: -5rem;
}

.flexCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    width: 400px;
    border-radius: 25px;
    background-color: #F2F2F2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.content{
    border-radius: 25px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.imageContainer{
    width: 100%;
    background-color: #F2F2F2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

h3{
    font-size: 25px;
    text-transform: uppercase;
}

.textField{
    height: 50px;
    padding-left: 2rem;
    border-radius: 25px;
    border: none;
    width: 80%;
    font-size: 1rem;
}

.primaryBtn{
    border-radius: 25px;
    height: 50px;
    border: none;
    background-color: #FAD610;
    width: 80%;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.primaryBtn:active {
    transform: scale(0.98);
}

a{
    text-decoration: none;
    color: grey;
    margin: 1rem 0rem;
}